<h1> <%= "#{@parsed_response['total']} Total Stores" %>  </h1>
<% @stores.each do |store| %>
<ul class='store'>
  <li><%= store['longName'] %></li>
  <li><%= store['city'] %></li>
  <li><%= store['distance'] %></li>
  <li><%= store['phone'] %></li>
  <li><%= store['storeType'] %></li>
</ul><br>
<% end %>
